app/code/local/Conshiy/Master/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="conshiyNetworkEntityCreate">
                <xsd:sequence>
                    <xsd:element name="url" type="xsd:string" minOccurs="0" />
                    <xsd:element name="username" type="xsd:string" minOccurs="0" />
                    <xsd:element name="password" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="conshiyNetworkCreateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="slaveData" type="typens:conshiyNetworkEntityCreate" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="conshiyNetworkCreateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="conshiyNetworkUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="slaveId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="password" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="conshiyNetworkUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="info" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="conshiyNetworkDeleteRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="slaveId" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="conshiyNetworkDeleteResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="info" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="conshiyNetworkCreateRequest">
        <wsdl:part name="parameters" element="typens:conshiyNetworkCreateRequestParam" />
    </wsdl:message>
    <wsdl:message name="conshiyNetworkCreateResponse">
        <wsdl:part name="parameters" element="typens:conshiyNetworkCreateResponseParam" />
    </wsdl:message>
    <wsdl:message name="conshiyNetworkUpdateRequest">
        <wsdl:part name="parameters" element="typens:conshiyNetworkUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="conshiyNetworkUpdateResponse">
        <wsdl:part name="parameters" element="typens:conshiyNetworkUpdateResponseParam" />
    </wsdl:message>
    <wsdl:message name="conshiyNetworkDeleteRequest">
        <wsdl:part name="parameters" element="typens:conshiyNetworkDeleteRequestParam" />
    </wsdl:message>
    <wsdl:message name="conshiyNetworkDeleteResponse">
        <wsdl:part name="parameters" element="typens:conshiyNetworkDeleteResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="conshiyNetworkCreate">
            <wsdl:documentation>Register Slave website in network</wsdl:documentation>
            <wsdl:input message="typens:conshiyNetworkCreateRequest" />
            <wsdl:output message="typens:conshiyNetworkCreateResponse" />
        </wsdl:operation>
        <wsdl:operation name="conshiyNetworkUpdate">
            <wsdl:documentation>Update Slave website data registered in network</wsdl:documentation>
            <wsdl:input message="typens:conshiyNetworkUpdateRequest" />
            <wsdl:output message="typens:conshiyNetworkUpdateResponse" />
        </wsdl:operation>
        <wsdl:operation name="conshiyNetworkDelete">
            <wsdl:documentation>Delete Slave website registered in network</wsdl:documentation>
            <wsdl:input message="typens:conshiyNetworkDeleteRequest" />
            <wsdl:output message="typens:conshiyNetworkDeleteResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="conshiyNetworkCreate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="conshiyNetworkUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="conshiyNetworkDelete">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
